.books-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  grid-gap: 10px;
}
.book {
  text-align: center;
}
.book-box {
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0px 0px 10px 0px black;
  background: rgba(225, 225, 225, 0.5);
  backdrop-filter: blur(1px);
  transition: background-color 0.3s;
}
.book-box:hover {
  transform: scale(1.025);
  transition: 0.5s;
  background-color: rgb(226, 226, 226);
}
.book-image {
  width: 250px; 
  height: 300px;
  margin-top: 10px; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: center;
  align-items: center;
}
.book-details {
  margin-top: 10px;
  color: rgb(0, 0, 255);
}
.book-title {
  font-size: 16px;
}
.book-rating {
  font-size: 12px;
}
.book-free {
  margin-left: 5px;
  font-weight: bolder;
  color: rgb(0, 255, 0);
}